extends ../layout

block content
  .pb-2.mt-2.mb-4.border-bottom
    h3 Signup

  
  .wrapper

    .container
      .row
        .col-sm.border
          hr
          h2(align="center") Family
          br
          p(align="justify")
            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi ratione architecto necessitatibus cum praesentium dolor totam voluptatibus recusandae?
          .container(style="text-align: center;")
            a(href="signup/family").btn-lg.btn-warning.active Continue
          br
        .col-sm.border
          hr
          h2(align="center") Carers
          br
          p(align="justify")
            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi ratione architecto necessitatibus cum praesentium dolor totam voluptatibus recusandae? Illo quod nemo ratione itaque dolores laudantium error vero laborum blanditiis nostrum.
          .container(style="text-align: center;")
            a(href="signup/carer").btn-lg.btn-warning.active Continue
          br
        .col-sm.border
          hr
          h2(align="center") Providers
          br
          p(align="justify")
            | Illo quod nemo ratione itaque dolores laudantium error vero laborum blanditiis nostrum. Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi ratione architecto cum praesentium voluptatibus recusandae?
          .container(style="text-align: center;")
              a(href="signup/provider").btn-lg.btn-warning.active Continue
          br
