extends ../../layout

block content
  .sidebar
    block sidebar
    .wrapper
      aside.main_sidebar
        ul
          li.active
            i.fa.fa-search
            a(href='#') Search
          li
            i.fa.fa-users
            a(href='#') Carousal
          li
            i.fa.fa-envelope
            a(href='#') Messages
          li
            i.fa.fa-crosshairs
            a(href='#') Views
          li
            i.fa.fa-bell
            a(href='#') Interview
          li
            i.fa.fa-forumbee
            a(href='#') Match
          li
            i.fa.fa-user
            a(href='#') My Profile
          li
            i.fa.fa-calendar
            a(href='#') Timeline
          li
            i.fa.fa-calculator
            a(href='#') Calculator
    block primary
      p nothing