extends dashboard

block primary
  .pb-2.mt-2.mb-4.border-bottom
    form(id='search-form', method='POST')
      input(type='hidden', name='_csrf', value=_csrf)
        .form-group.row
          .dropdown
            button.btn.btn-primary.dropdown-toggle(type='button', data-toggle='dropdown')
              | Transit Time
              span.caret
            ul.dropdown-menu
              li
                a(href='#') HTML
              li
                a(href='#') CSS
              li
                a(href='#') JavaScript
        .form-group.row
          .dropdown
            button.btn.btn-primary.dropdown-toggle(type='button', data-toggle='dropdown')
              | Role
              span.caret
            ul.dropdown-menu
              li
                a(href='#') HTML
              li
                a(href='#') CSS
              li
                a(href='#') JavaScript
        .form-group.row
          .dropdown
            button.btn.btn-primary.dropdown-toggle(type='button', data-toggle='dropdown')
              | Work Type
              span.caret
            ul.dropdown-menu
              li
                a(href='#') HTML
              li
                a(href='#') CSS
              li
                a(href='#') JavaScript
        .form-group.row
          .dropdown
            button.btn.btn-primary.dropdown-toggle(type='button', data-toggle='dropdown')
              | Hours
              span.caret
            ul.dropdown-menu
              li
                a(href='#') HTML
              li
                a(href='#') CSS
              li
                a(href='#') JavaScript
        .form-group.row
          .dropdown
            button.btn.btn-primary.dropdown-toggle(type='button', data-toggle='dropdown')
              | Checks
              span.caret
            ul.dropdown-menu
              li
                a(href='#') HTML
              li
                a(href='#') CSS
              li
                a(href='#') JavaScript
        .form-group.row
          .dropdown
            button.btn.btn-primary.dropdown-toggle(type='button', data-toggle='dropdown')
              | Driving
              span.caret
            ul.dropdown-menu
              li
                a(href='#') HTML
              li
                a(href='#') CSS
              li
                a(href='#') JavaScript

        .form-group.row
          .dropdown
            button.btn.btn-primary.dropdown-toggle(type='button', data-toggle='dropdown')
              | Age of Carer
              span.caret
            ul.dropdown-menu
              li
                a(href='#') HTML
              li
                a(href='#') CSS
              li
                a(href='#') JavaScript

        .form-group.row
          .dropdown
            button.btn.btn-primary.dropdown-toggle(type='button', data-toggle='dropdown')
              | Carer Child Age Experience
              span.caret
            ul.dropdown-menu
              li
                a(href='#') HTML
              li
                a(href='#') CSS
              li
                a(href='#') JavaScript

